/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    blocks {
        width: 100%;
    }

    blocks, block, box, card {
        display: flex;
        display: webkit-flex;
        position: relative;
    }

    block > *, card > *, box > * {
        width: 100%;
    }

    block > picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        width: 100%;
    }

    main {
        display: flex;
        display: webkit-flex;
        height: 100%;
        overflow: visible;
        position: absolute;
        width: 100%;
    }

    ico {
        align-items: center;
        display: flex;
        display: webkit-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    input {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    page, pages {
        display: flex;
        position: relative;
    }

    body > page, body > pages {
        z-index: 123456789;
    }
}

body pages[data-root]:not(.active):not([data-active="true"]), body page[data-page]:not(.active):not([data-active="true"]) {
    display: flex;
    display: -webkit-flex;
}

page[data-page="/"] {
    background: #000000;
    color: #fff;
    width: 100%;
    height: 100%;
}

@media screen {
    .align-items-center {
        align-items: center;
    }
}

@media screen {
    .background-color-2f80ec {
        background-color: #2f80ec;
    }

    .background-color-fff {
        background-color: #fff;
    }
}

@media screen {
    .border-5px-solid {
        border: 5px solid;
    }
}

@media screen {
    .border-color-fff {
        border-color: #fff;
    }
}

@media screen {
    .border-radius-5px {
        border-radius: 5px;
    }

    .border-radius-50pct {
        border-radius: 50%;
    }
}

@media screen {
    .bottom-0 {
        bottom: 0;
    }
}

@media screen {
    body[data-webcam="true"] .-webcam-display-none {
        display: none;
    }

    body:not([data-webcam="true"]) .-webcam-display-block {
        display: none;
    }

    body[data-webcam="true"] .-webcam-display-block {
        display: block;
    }

    body:not([data-webcam="true"]) .-webcam-display-flex {
        display: none;
    }

    body[data-webcam="true"] .-webcam-display-flex {
        display: flex;
    }

    body:not([data-webcam="true"]) .-webcam-display-inline-flex {
        display: none;
    }

    body[data-webcam="true"] .-webcam-display-inline-flex {
        display: inline-flex;
    }
}

@media screen {
    .flex-1 {
        flex: 1;
    }
}

@media screen {
    .filter-invert-1 {
        filter: invert(1);
    }
}

@media screen {
    .height-100pct {
        height: 100%;
    }

    .height-50px {
        height: 50px;
    }

    .height-100px {
        height: 100px;
    }
}

@media screen {
    .justify-content-center {
        justify-content: center;
    }
}

@media screen {
    .line-height-36px {
        line-height: 36px;
    }
}

@media screen {
    .margin-5px {
        margin: 5px;
    }

    .margin-bottom-20px {
        margin-bottom: 20px;
    }

    .margin-left-20px {
        margin-left: 20px;
    }

    .margin-left-auto {
        margin-left: auto;
    }

    .margin-right-20px {
        margin-right: 20px;
    }

    .margin-right-auto {
        margin-right: auto;
    }
}

@media screen {
    .object-fit-cover {
        object-fit: cover;
    }
}

@media screen {
    .position-absolute {
        position: absolute;
    }

    .position-fixed {
        position: fixed;
    }
}

@media screen {
    .text-align-center {
        text-align: center;
    }
}

@media screen {
    .width-100pct {
        width: 100%;
    }

    .width-50px {
        width: 50px;
    }

    .width-100px {
        width: 100px;
    }

    .width-200px {
        width: 200px;
    }
}

@media screen {
    .z-index-5 {
        z-index: 12345;
    }
}

/*ICONS*/
@media screen {
    .icon-flip,.icon-flip::after,.icon-flip::before {
        display: block;
        box-sizing: border-box;
        height: 30px;
        /* border: 2px solid; */
    }

    .icon-flip {
        position: relative;
        transform: scale(var(--ggs,1));
        width: 30px;
        border-radius: 22px
    }

    .icon-flip::after,.icon-flip::before {
        content: "";
        position: absolute;
        width: 8px;
        border-radius: 100%;
        top: -2px;
        left: 3px
    }

    .icon-flip::before {
        width: 24px;
        height: 20px;
        border: 2px solid transparent;
        border-bottom: 2px solid;
        top: 5px;
        left: 0px;
        transform: rotate(90deg);
    }

    .icon-flip::after {
        width: 24px;
        height: 20px;
        border: 2px solid transparent;
        border-bottom: 2px solid;
        top: 5px;
        left: 0;
        transform: rotate(-90deg);
    }
}

@media screen {
    .gg-log-off {
        box-sizing: border-box;
        position: relative;
        display: block;
        border-radius: 16px;
        border: 2px solid;
        transform: scale(var(--ggs,1));
        width: 16px;
        height: 16px;
        border-top: 2px solid transparent
    }

    .gg-log-off::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 3px;
        height: 8px;
        width: 2px;
        background: currentColor;
        left: 5px;
        bottom: 6px
    }
}
